#delete-unused-local-branches {
  .delete-unused-local-branches-list {
    max-height: 175px;
    overflow-y: auto;
    list-style: none;
    margin: var(--spacing) 0;
    padding: 0;

    li {
      padding-left: 0;
      margin-bottom: var(--spacing-half);
    }
  }
}
