.diff-options-component,
.diff-whole-file-toggle-component {
  position: relative;
  display: flex;

  > button {
    -webkit-appearance: none;
    font-family: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    color: var(--text-color);

    &:not(:disabled):hover {
      color: var(--text-secondary-color);
    }

    &:focus {
      outline-offset: 3px;
    }

    .octicon {
      margin-right: 0;
    }
  }
}

.diff-whole-file-toggle-component {
  > button {
    justify-content: center;
    padding: 0 var(--spacing-third);

    &[aria-pressed='true'] {
      color: var(--accent-color);
    }

    &:disabled {
      color: var(--text-secondary-color);
      cursor: default;
      opacity: 0.55;
    }
  }
}

.diff-options-component {
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .secondary-text {
    color: var(--text-secondary-color);
  }

  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  legend {
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding: 0px;
  }

  fieldset {
    border: none;
    margin: 0px;
    padding: 0px;

    margin-top: 1em;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  fieldset.button-group {
    display: flex;
    flex-direction: row;
  }

  .secondary-text {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .popover-component {
    width: 250px;
  }
}
